<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bitcoin Prediction</title>
    <link href={{ url_for('static', filename= 'styles/login.css')}}
    rel="stylesheet" type="text/css">
</head>
<body>
    <h1>{{info}}</h1>
    <form action="/form_login" method="post">
        <div>Username:</div>
        <input type="text" name="username" />
        <div>Password:</div>

        <input type="password" name="password" /><br /><br />
        <input class="submission" type="submit" value="Login" />
    </form>

</body>
</html>